In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as ply
import missingno
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [104]:
data=pd.read_csv("G:\\Datasets\\amazonearphonesreviews\\AllProductReviews.csv")

In [105]:
data1=pd.read_csv("G:\\Datasets\\amazonearphonesreviews\\ProductInfo.csv")

In [106]:
data.head()

,ReviewTitle,ReviewBody,ReviewStar,Product
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255

In [107]:
data.shape

(14337, 4)

In [108]:
data1.shape

(10, 6)

In [109]:
data1

,MRP,Price,ProductFullName,ProductShortName,ReviewURL,id
0,2990,1399,boAt Rockerz 255 Sports Bluetooth Wireless Ear...,boAt Rockerz 255,https://www.amazon.in/255-Bluetooth-Wireless-E...,1
1,3999,1099,Flybot Wave in-Ear Sport Wireless Bluetooth Ea...,Flybot Wave,https://www.amazon.in/Flybot-Wireless-Bluetoot...,2
2,3999,1099,Flybot Boom Deep Bass in-Ear Wireless Bluetoot...,Flybot Boom,https://www.amazon.in/Flybot-Wireless-Bluetoot...,3
3,2000,749,PTron Intunes Pro Headphone Magnetic Earphone ...,PTron Intunes,https://www.amazon.in/PTron-Intunes-Pro-Smartp...,4
4,5999,2999,Flybot Beat True Wireless Bluetooth Earphones ...,Flybot Beat,https://www.amazon.in/Flybot-Wireless-Bluetoot...,5
5,3799,3190,Samsung EO-BG950CBEGIN Bluetooth Wireless in-E...,Samsung EO-BG950CBEIN,https://www.amazon.in/Samsung-EO-BG950CBEGIN-B...,6
6,2999,1999,JBL T205BT Pure Bass Wireless Metal Earbud Hea...,JBL T205BT,https://www.amazon.in/JBL-T205BT-Wireless-Earb...,7
7,7490,6499,Sennheiser CX 6.0BT 507447 in Ear Wireless Ear...,Sennheiser CX 6.0BT,https://www.amazon.in/Sennheiser-CX-507447-Wir...,8
8,5299,3699,Skullcandy S2PGHW-174 in-Ear Wireless Headphon...,Skullcandy S2PGHW-174,https://www.amazon.in/Skullcandy-S2PGHW-174-Wi...,9
9,2259,2000,JBL T110BT Pure Bass Wireless in-Ear Headphone...,JBL T110BT,https://www.amazon.in/JBL-T110BT-Wireless-Head...,10

In [110]:
boat255=data[data.Product=="boAt Rockerz 255"]

In [111]:
boat255.head()

,ReviewTitle,ReviewBody,ReviewStar,Product
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255

In [112]:
boat255=data[data.Product=="boAt Rockerz 255"]

In [113]:
flybotwave=data[data.Product=="Flybot Wave"]

In [114]:
flybotboom=data[data.Product=="Flybot Boom"]

In [115]:
PTronintunes=data[data.Product=="PTron Intunes"]

In [116]:
flybotbeat=data[data.Product=="Flybot Beat"]

In [117]:
samsungeo=data[data.Product=="Samsung EO-BG950CBEIN"]

In [118]:
jblt2=data[data.Product=="JBL T205BT"]

In [119]:
jblt1=data[data.Product=="JBL T110BT"]

In [120]:
skullcandy=data[data.Product=="Skullcandy S2PGHW-174"]

In [121]:
seinh=data[data.Product=="Sennheiser CX 6.0BT"]

In [122]:
dblist=[boat255,flybotwave,flybotboom,flybotbeat,PTronintunes,samsungeo,jblt2,jblt1,skullcandy,seinh]

In [123]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [124]:
from textblob import TextBlob

In [125]:
def scores(x):
    list1=[]
    x.reset_index(inplace=True)
    x.drop("index",axis=1,inplace=True)
    for i in x.ReviewBody:
        list1.append(sia.polarity_scores(i))
    x[["Compound","Negative","Neutral","Positive"]]=pd.DataFrame(list1)

In [126]:
for j in dblist:
    scores(j)

C:\Users\Asus\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Asus\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Working on the Boat Rockerz 225

In [127]:
boat255.tail()

,ReviewTitle,ReviewBody,ReviewStar,Product,Compound,Negative,Neutral,Positive
4995,Good quality product\n,Sound quality is superb..Battery life is good....,5,boAt Rockerz 255,0.0000,0.000,1.000,0.000
4996,Excellent product\n,Nice earphone........ Good bt connectivity. An...,5,boAt Rockerz 255,0.8225,0.000,0.449,0.551
4997,Stopped working in 2 months\n,Stopped working.... Sound is breaking. Pls gui...,1,boAt Rockerz 255,-0.2406,0.180,0.717,0.104
4998,Buy it!!!\n,Awesome product... worth the price and the sou...,5,boAt Rockerz 255,0.8689,0.000,0.479,0.521
4999,Waste noise cancellation\n,Noise cancellation is too poor I ordered 2 pai...,1,boAt Rockerz 255,-0.7003,0.392,0.608,0.000

In [128]:
boat255.loc[125][1]

'Sound quality is good. Bass is wonderful. Better life is awesome. There is no connecting issues. Before order I am very much doubtful about the performance of this earfone, because of reading some reviews in Amazon. But when I used this, I am very much satisfied. Amazon shipping is always good and prompt.\n'

In [129]:
len(boat255)

5000

In [130]:
def keys(x):
    a = [None] * len(x)
    for i in range(0,(len(x)-1)):
        list3=[]
        blob = TextBlob(x.iloc[i][1])
        for word, tag in blob.tags:
            if (tag=="VBG")| (tag=="VBD")| (tag=="JJ")| (tag=="RB")| (tag=="CD"):
                list3.append(word.lemmatize())
            a[i]=list3
    x["Keywords"]=a

In [131]:
for j in dblist:
    keys(j)

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [132]:
boat255.Keywords.value_counts().sort_values(ascending=False).head(7)

[]              306
[Good]          148
[good]           52
[Excellent]      16
[Very, good]     16
[Very, nice]     12
[Amazing]        11
Name: Keywords, dtype: int64

In [133]:
boat255.Keywords.value_counts().sort_values().head(7)

[purchased, 999/-, enough, happy, i, never, 1, 999, 999]                           1
[using, last, 2, sound, good, bass, average, battery, also, average, 255, good]    1
[working, 6, gave, took, so, much, just]                                           1
[lasted, one, ..with, passing, going]                                              1
[Happy, Good, superb]                                                              1
[not, amazing, still, ok, got, 1300, just]                                         1
[sound, good, not, so, good, ache, 1/2hr]                                          1
Name: Keywords, dtype: int64

In [142]:
boat255[boat255.Compound>0].Keywords.value_counts().sort_values(ascending=False).head(7)

[]              224
[Good]          147
[good]           51
[Excellent]      16
[Very, good]     16
[Very, nice]     12
[Amazing]        11
Name: Keywords, dtype: int64

In [143]:
data.head()

,ReviewTitle,ReviewBody,ReviewStar,Product
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255