# Question 1 
Take the password variable and save the input from user.
check if its equal to "great"

In [29]:
a=input("enter the password : ")

if(a=="great"):
    print("password is correct")
else:
    print("wrong password")

enter the password : 544
wrong password

In [30]:
a=input("enter the password ")

if(a=="great"):
    print(" password is correct")
else:
    print("**********DANGER********")
    print("*******wrong password***")

enter the password 344
**********DANGER********
*******wrong password***

# Question 2
wap that ask user for a temp. in F and convert it in C

In [31]:
a=float(input("enter temperature in Fahrenheit"))   # wap to change temperature as per user request (self study)
c=(a-32)*(5/9)
print("temp in Celcius is :", round(c,2))    #round() is used for rounding the decimal places upto user request

enter temperature in Fahrenheit44
temp in Celcius is : 6.67

# Loops
Common loops

1. For
2. While
3. Do While

# 1. Syntax for For Loop

for <variable> in (how many times the loop run):
    print(variable name)

In [32]:
for i in range(0,5):        # "i" is a variable and 0 to 5 specifies the range for the loop , the value of i changes for every loop
    print(i)                # this line defines the action of the loop

0
1
2
3
4

In [33]:
for i in range(6,12):        # "i" is a variable and 0 to 5 specifies the range for the loop , the value of i changes for every loop
    print(i)                # this line defines the action of the loop

6
7
8
9
10
11

In [34]:
for i in range(0,5):        # "i" is a variable and 0 to 5 specifies the range for the loop , the value of i changes for every loop
    print("Hello")                # this line defines the action of the loop

Hello
Hello
Hello
Hello
Hello

In [35]:
a=[12,24,54,87,57,68]
for i in range(0,len(a)):
    print(a[i])

12
24
54
87
57
68

In [36]:
a=[12,24,54,87,57,68]
for i in range(0,len(a)):
    print(a)

[12, 24, 54, 87, 57, 68]
[12, 24, 54, 87, 57, 68]
[12, 24, 54, 87, 57, 68]
[12, 24, 54, 87, 57, 68]
[12, 24, 54, 87, 57, 68]
[12, 24, 54, 87, 57, 68]

In [37]:
a=[12,24,54,87,57,68]
for i in range(0,len(a)):
    if(a[i]%2==0):
        print("the number",a[i],"is even")
    else:
        print("the number",a[i],"is odd hence converting it in even",a[i]+1) # append

the number 12 is even
the number 24 is even
the number 54 is even
the number 87 is odd hence converting it in even 88
the number 57 is odd hence converting it in even 58
the number 68 is even

In [38]:
a=[12,24,54,87,57,68]
for i in range(0,len(a)):
    if(a[i]%2==0):
        print("the number",a[i],"is even")

the number 12 is even
the number 24 is even
the number 54 is even
the number 68 is even

# I have a list and i want to print all the elements

In [39]:
a=[12,24,54,87,57,68]
for i in range(0,len(a)):
    print(a[i])

12
24
54
87
57
68

In [40]:
#applying loop in reverse

for i in range(0,9,2):   #"2" indicates the step take by the loop
    print(i)

0
2
4
6
8

In [41]:
a=[12,133,331,3234,44,3535,3535,23325,5443,4352,32,4345,5351,3532,54535,4222]
for i in range(0,9,2):   #"2" indicates the step take by the loop
    sum=0
    sum=sum+a[i]
print("the sum is",sum)

the sum is 5443

# Brackets

# () function/making a tuples
# [] indexing/accesing a particular object/define a list
# {} Dictionaries/defining Sets

In [42]:
websites=["analytics.com","towardsdatascience.com","medium.com"]

In [43]:
print(websites)

['analytics.com', 'towardsdatascience.com', 'medium.com']

In [44]:
for i in range(0,len(websites)):
    print(websites[i])

analytics.com
towardsdatascience.com
medium.com

In [45]:
for i in range(0,len(websites)):
    print(websites[i][0])     #[0] indicates the indexing of the element

a
t
m

In [46]:
for i in range(0,len(websites)):
    print(websites[i][3])

l
a
i

In [47]:
websites

['analytics.com', 'towardsdatascience.com', 'medium.com']

In [48]:
websites[0]="analyticsvidya.com"

In [49]:
for i in range(0,len(websites)):
    if(i%2==0):
        print(websites[i])

analyticsvidya.com
medium.com

In [50]:
websites.append()

TypeError: append() takes exactly one argument (0 given)

In [ ]:
websites

In [ ]:
websites.append("these","are","good","websites")     #Doubt : how to add multiple elements in a single append command ?

In [ ]:
websites

In [ ]:
s="medium"
list(s)

In [ ]:
s="medium"
list(s)
for i in range(0,len(s)):
    if(i%2==0):
        print(s[i])

In [ ]:
#in this list print all the ODD nos.
x=[2,4,98,65,69,55,47,74,2549]
for i in range(0,len(x)):

In [ ]:
#in this list print all the ODD nos.
x=[2,4,98,65,69,55,47,74,2549]
for i in range(0,len(x)):
    if(x[i]%2!=0):       # !0 denotes "not equal"
        print("the number ",x[i],"is odd")

# List operations

In [1]:
a=[12,13,24,324]

In [2]:
b=[232,24423,5452,52]

In [ ]:
a+b

In [ ]:
c=a+b

In [ ]:
c

In [ ]:
del c

In [ ]:
c

In [ ]:
c=a+b

In [ ]:
del c

In [ ]:
#append is used when to add a list within a list

In [ ]:
a.extend(b)

In [ ]:
d=a.extend(b)

In [13]:
d

In [14]:
d

In [15]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [16]:
b

[5, 6, 7, 8]

In [19]:
d=a.extend(b)

In [20]:
d

In [5]:
a=[1,2,3,4]

In [6]:
b=[5,6,7,8]

In [7]:
a.extend(b)

In [8]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
2 in a

True

In [22]:
45 in a

False

In [23]:
a[2 in a] # it is not reliable to check location, as it will give only 1 for True and 0 for False

2

In [ ]:
8 in a

In [ ]:
a.count(2)       # count function is used to count the occurence of a particular entry within a list

In [ ]:
min(a)          # print the minimum value within a list

In [ ]:
max(a)        # print the max value within a list

In [ ]:
a.clear()     #clear the complete list

In [24]:
a=[1,95,87,45]

In [25]:
a[1]=35

In [26]:
a

[1, 35, 87, 45]

In [27]:
a.insert(3,100)

In [28]:
a

[1, 35, 87, 100, 45]

In [29]:
a.index(2)

ValueError: 2 is not in list

In [30]:
a.index(35)

1

In [31]:
a.index(1)

0

In [32]:
a.remove(

In [ ]:
a

In [34]:
a.append(21)

In [35]:
a

[1, 35, 87, 45, 21]

In [36]:
a.pop()

21

In [37]:
a

[1, 35, 87, 45]

In [38]:
a.pop(3)

45

In [39]:
a

[1, 35, 87]

In [40]:
a.extend(25,23)

TypeError: extend() takes exactly one argument (2 given)

In [41]:
z=[1,1,23,23,44,565,87685,97]

In [42]:
z.drop(1)

AttributeError: 'list' object has no attribute 'drop'

In [43]:
z

[1, 1, 23, 23, 44, 565, 87685, 97]

In [ ]:
a.drop(23)

In [ ]:
a.remove(1)

In [ ]:
a

In [ ]:
z.remove(1)

In [ ]:
z

In [ ]:
z.pop(23)

In [ ]:
z.pop(1)

In [ ]:
z

In [ ]:
z.append(100)

In [ ]:
z

In [ ]:
z.pop()

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
z.sort()

In [ ]:
z

In [ ]:
z.sort(reverse=True)        #for sorting in descending order, as by default reverse is equal to False

In [ ]:
z

# Tuples
## they cannot be modified once created

In [52]:
v=tuple(z)        #convert the list into tuple

NameError: name 'z' is not defined

In [ ]:
v

In [51]:
type(v)

NameError: name 'v' is not defined

In [ ]:
for i in range(0,len(v)):
    print(v[i])

In [ ]:
for i in range(0,len(v)):
    print(v)

In [ ]:
q=[]    #blank list

In [ ]:
for i in range(0,len(v)):
print(v)

In [ ]:
for i in range(0,len(v)):        #conversion of tuples values into another list
    q.append(v[i])
print(q)

In [ ]:
q

In [ ]:
print(q)

In [ ]:
q.pop(6)

In [ ]:
q.pop(6)

In [ ]:
q.pop(6)

In [ ]:
q.pop(6)

In [ ]:
q.pop(6)

In [ ]:
q.pop(6)   # Doubt : how to remove multiple entries from a list ???

In [ ]:
print(q)

In [ ]:
q[:5]

In [ ]:
q=q[:5]

In [ ]:
q

In [ ]:
l=[["SBI",454],["ONGC",549],["BOB",110],["RS",130]]

In [ ]:
import pandas as pd                  # importing panda library

In [ ]:
stocks=pd.DataFrame(l,columns=["Company","Price"])

In [ ]:
type(stocks)

In [ ]:
stocks

In [ ]:
stocks["Price"]

In [ ]:
stocks.median

In [ ]:
stocks["Price"].median()

In [ ]:
for i in range(0,5):
    if(stocks["Price"]>292.0):
        print(stocks["Price"])

In [ ]:
k=stocks["price"]

In [ ]:
m=list(stocks["Price"])

In [ ]:
g=stocks["Price"].median()
for i in range(0,len(m)):
    if(m[i]<g):
        print(m[i])

In [ ]:
for i in range(0,len(price)):
    if(price[i][1]<g):
        print(price[i])
    else:
            continue

In [ ]:
# to print price less,greater than median

In [ ]:
stocks["Price"]>stocks["Price"].median()

In [ ]:
stocks[stocks["Price"]>stocks["Price"].median()]

In [ ]:
stocks[stocks.Price>stocks["Price"].median()]["Company"]

In [ ]:
blanks=[]
for i in range(0,len(stocks)):
    if(stocks.Price[i]>stocks.Price.median()):
        blanks.append(stocks.Price[i])
        blanks.append(stocks.Company[i])

In [ ]:
print(blanks)

In [ ]:
pd.DataFrame(blanks)

# Dictionary

In [44]:
import pandas as pd
j={"name":"tarun","car":9095}

In [45]:
j

{'name': 'tarun', 'car': 9095}

In [48]:
pd.DataFrame([j])

    car   name
0  9095  tarun

In [49]:
type(j)

dict

In [50]:
len(j)

2

In [51]:
k={"name":"tarun","car":9095,"mobile":"nokia"}

In [52]:
pd.DataFrame([k])

    car mobile   name
0  9095  nokia  tarun

In [53]:
k={"name":["tarun","tyagi"],"car":9095,"mobile":"nokia"}

In [54]:
pd.DataFrame([k])

    car mobile            name
0  9095  nokia  [tarun, tyagi]

In [55]:
f=k.copy

In [56]:
print(f)

<built-in method copy of dict object at 0x000001CA517AA990>

In [57]:
pd.DataFrame([f])

                                                   0
0  <built-in method copy of dict object at 0x0000...

In [61]:
k.keys()

dict_keys(['name', 'car', 'mobile'])

In [62]:
o=k.copy()

In [63]:
o

{'name': ['tarun', 'tyagi'], 'car': 9095, 'mobile': 'nokia'}

In [65]:
#dictionary.get() extracts the value from     #solve it
print("Name is :",k.get("name"))

Name is : ['tarun', 'tyagi']

In [66]:
# Imputation
newd={"phone. no.":8279357168}
k.update(newd)

In [67]:
k

{'name': ['tarun', 'tyagi'],
 'car': 9095,
 'mobile': 'nokia',
 'phone. no.': 8279357168}

In [68]:
k.keys()

dict_keys(['name', 'car', 'mobile', 'phone. no.'])

In [69]:
k.values()

dict_values([['tarun', 'tyagi'], 9095, 'nokia', 8279357168])

In [54]:
def reverse(string):
    a=list()
    i=len(a)-1
    while i>=0:
        print(a[i])
        i=i-1

In [72]:
s="tarun"
x=s[::-1]

In [73]:
x

'nurat'

In [78]:
z=s.split("a")

In [79]:
z.sort()

In [80]:
z

['run', 't']

In [81]:
chr(2)

'\x02'