In [ ]:
import pandas as pd

In [17]:
list1 =[21,35,24,36,356,[[215],[3256],[3526]],[3215,644,6962]]

In [18]:
pd.DataFrame(list1)    # Converting list into DataFrame

                         0
0                       21
1                       35
2                       24
3                       36
4                      356
5  [[215], [3256], [3526]]
6        [3215, 644, 6962]

In [19]:
pd.DataFrame(list1[5])

      0
0   215
1  3256
2  3526

In [22]:
pd.DataFrame(list1[5][0])    #Doubt : How to add multiple list items in a DataFrame

     0
0  215

# Q. Temp conversion I F to C

In [ ]:
temp=float(input(print("enter the temperature")))
c=(temp-32)*(5/9)
print("temp. in celcius = ",c)

# 1. input the user which conversion he wants to be done (for c to f : press 1, for f to c : press 2)

# 2. ask the user to input the temperature

# 3. store the given temperature in a float variable
# 4. set the IF condition 
# 5. calculate the result using fourmula

In [ ]:
a=int(input(print("****tell us what conversion u want to perform ***\n***Press 1 for Celcius to Fahrenheit***\n***Press 2 for Fahrenheit to Celcius****")))
if(a==1):
    temp=float(input(print("please enter the temperature in degree Celcius")))
    c=temp*(9/5)+32
    print("temp. in fahrenheit = ",c)
elif(a==2):
    temp=float(input(print("please enter the temperature in degree Fahrenheit")))
    c=(temp-32)*(5/9)
    print("temp. in celcius = ",c)
else:
    print("wrong input")

In [ ]:
a=int(input(print("****tell us what conversion u want to perform ***\n***Press 1 for Celcius to Fahrenheit***\n***Press 2 for Fahrenheit to Celcius****")))
if(a==1):
    temp=float(input(print("please enter the temperature in degree Celcius")))
    c=temp*(9/5)+32
    print("temp. in fahrenheit = ",c)
else:
    temp=float(input(print("please enter the temperature in degree Fahrenheit")))
    c=(temp-32)*(5/9)
    print("temp. in celcius = ",f)

In [ ]:
a=input(print("****tell us what conversion u want to perform ***\n***Press 1 for Celcius to Fahrenheit***\n***Press 2 for Fahrenheit to Celcius****"))
while(a==1 or a==2):
    if(a==1):
        temp=input(print("please enter the temperature in degree Celcius"))
        c=temp*(9/5)+32
        print("temp. in fahrenheit = ",c)
    else:
        temp=input(print("please enter the temperature in degree Fahrenheit"))
        c=(temp-32)*(5/9)
        print("temp. in celcius = ",f)

In [ ]:
a=int(input(print("****tell us what conversion u want to perform ***\n***Press 1 for Celcius to Fahrenheit***\n***Press 2 for Fahrenheit to Celcius****")))

while(a!=1 or a!=2):
    
    a=int(input(print("****wrong input*****\n****tell us what conversion u want to perform ***\n***Press 1 for Celcius to Fahrenheit***\n***Press 2 for Fahrenheit to Celcius****")))
    if(a==1 or a==2):
        break

if(a==1):
    temp=float(input(print("please enter the temperature in degree Celcius")))
    c=temp*(9/5)+32
    print("temp. in fahrenheit = ",c)
            

else:
    temp=float(input(print("please enter the temperature in degree Fahrenheit")))
    c=(temp-32)*(5/9)
    print("temp. in celcius = ",c)

# while loop :

In [ ]:
i=1
while i<=10:

    print(i)
    i=i+1

In [ ]:
i=1          #### loop is running 10 time but only prints from 5
while (i<=10):
    i=i+1
    if(i>=5):
        print(i)
        
    else:
        continue

In [ ]:
i=1
while i<=10:
    
    print(i)
    i=i+1

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
evenlist=[]
oddlist=[]
for i in range(0,len(list1)):
    if list1[i]%2==0:
        evenlist.append(list1[i])
    else:
        oddlist.append(list1[i])

In [ ]:
evenlist

In [ ]:
oddlist

In [ ]:
neweven=[]
newodd=[]
i=0
while list1[i]%2==0:
    neweven.append(list1[i])
    i=i+1

In [ ]:
neweven

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,12]

blanklist=[]

i=0
while i<len(list2):
    if (list2[i]%2==0):
        blanklist.append(list2[i])
    i=i+1
blanklist

In [ ]:
blanklist

In [ ]:
letters="Python is Good"

In [ ]:
st=input(print("enter your name"))

In [ ]:
a=list(st)

In [ ]:
len(a)

In [ ]:
if(len(a)%2==0):
    print("even")
else:
    print("odd")

In [ ]:
st=input(print("enter your name"))
a=list(st)
len(a)
if(len(a)%2==0):
    print("even")
else:
    print("odd")

In [ ]:
k=input(print("enter your name"))

while len(k)<6:
    k=input("enter name again")

x="e"
if x in k :
    print("it has e")

# if Else Syntax
if (condition):
    <do something>
elif(condition):
  <do something>
elif(condition):
  <do something>
else:         ##### else cannot be used before elif

In [ ]:
# if 80 and above - excellent
# if 70 and above - good
# if 60 and above - average
# if less than 60 - not accecptable
# this is an example of nested if

passmarks = 105
if passmarks>100:
    print("error")
if passmarks<=100 and passmarks>80:
    print("excellent")
elif passmarks>=60 and passmarks>70:
    print("good")
elif passmarks>=70 and passmarks>60:
    print("average")
else:
    print("not accecptable")

In [ ]:
# Functions ....

def add(x,y):
    return(x+y)

In [ ]:
add(190,258)

In [ ]:
def sqr(x):
    return(x*x)

In [ ]:
sqr(9)

In [ ]:
def grades(marks):

In [ ]:
a=list(st)
len(a)
if(len(a)%2==0):
    print("even")
else:
    print("odd")

In [ ]:
letters="Python is Good"
split_l=letters.split()
for i in range(0,len(split_l)):
    if len(split_l[i])%2==0:
        print(split_l[i])

In [1]:

def grades(marks):
    if marks>=80:
        return("excellent")
    elif marks>=70:
        return("good")
    elif marks>=60:
        return("average")
    else:
        return("not accecptable")

In [2]:
grades(82)

'excellent'

In [ ]:
bin(1)