In [ ]:
# why eda ?
1. Problem statement (predict the sales for next target)
2.

# 1. Univariate analysis

### For numerical column - histogram(Distplot | Seaborn)
### For Categorical column - Barplot | Countplot

# 2. Bivariate analysis : Predictor vs Target Variable

### Num - Num | Scatterplot
### Cat - Num | Boxplot | Violinplot
### Cat - Cat | pd.crosstab | Table

# 3. Missing Values : Mean and Median Imputation | Model based Imputation

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_table("C:\\Users\\Asus\\Downloads\\Train_UWu5bXk.txt",sep=",")    # sep is known as delimitter in SAS

In [ ]:
data.head()

In [ ]:
data1=pd.read_table("C:\\Users\\Asus\\Downloads\\Test_u94Q5KV.txt",sep=",")

In [ ]:
data1.head()

## Univariate analysis

In [ ]:
pd.Categorical(data)

In [ ]:
data.describe()

In [ ]:
sns.distplot(data[data.Item_Weight.notnull()]["Item_Weight"],color="r")

In [ ]:
sns.distplot(data[data.Item_Outlet_Sales
.notnull()]["Item_Outlet_Sales"],color="g")

In [ ]:
sns.distplot(data[data.Item_MRP.notnull()]["Item_MRP"],color="b")

In [ ]:
# Target variable

In [ ]:
sns.distplot(data[data.Item_Outlet_Sales.notnull()]["Item_Outlet_Sales"],color="b")
sns.set_style('darkgrid')

In [ ]:
# Anamoly Found : Sale starts from 0, Either discount is offered

In [ ]:
# Item_Fat_Content

In [ ]:
sns.countplot(data["Item_Fat_Content"])

In [ ]:
# Rectify Low Fat + LF
data["Item_Fat_Content"].replace(["LF","reg","low fat"],["Low Fat","Regular","Low Fat"], inplace=True)

In [ ]:
sns.countplot(data["Item_Fat_Content"])

In [ ]:
data1["Item_Fat_Content"].replace(["LF","reg","low fat"],["Low Fat","Regular","Low Fat"], inplace=True)

In [ ]:
sns.countplot(data1["Item_Fat_Content"])

In [ ]:
sns.distplot(data[data.Item_MRP.notnull()]["Item_MRP"],color="b")

In [ ]:
plt.scatter(data["Item_MRP"],data["Item_Outlet_Sales"],color="r")

In [ ]:
data.Item_Weight.isnull().sum()

In [ ]:
# Bivariate Analysis

In [ ]:
# 1. Item weight vs sales

In [ ]:
plt.scatter(data["Item_Weight"],data["Item_MRP"])    # no pattern observed

In [ ]:
plt.scatter(data["Item_Visibility"],data["Item_Outlet_Sales"],color="g")
plt.xlabel("Item Visibility")
plt.ylabel("Sales")
plt.show()

In [ ]:
# lots of zero are appearing in visibility....
# higher visible item has less sales

In [ ]:
# Item size vs sales
plt.figure(figsize=[16,7])
sns.boxplot(data["Item_Type"],data["Item_Outlet_Sales"])
plt.xticks(rotation=65,color="b",size=14)

In [ ]:
# Top 5 performing items = dairy, f &veggies, household

In [ ]:
data.shape

In [ ]:
data["Item_Type"].unique().size

In [ ]:
data.groupby(data["Item_Type"])["Item_Outlet_Sales"].describe()

In [ ]:

plt.figure(figsize=[16,7])
sns.boxplot(data["Outlet_Identifier"],data["Item_Outlet_Sales"])
plt.xticks(rotation=65,color="b",size=14)

In [ ]:
data.columns

In [ ]:
data[data["Item_Outlet_Sales"]>8000]["Outlet_Identifier"].value_counts()

In [ ]:
#products in outlet 27

In [ ]:
data[data["Outlet_Identifier"]=="OUT027"]["Item_Type"].value_counts()

In [ ]:
data[data["Outlet_Identifier"]=="OUT027"]["Outlet_Location_Type"].value_counts()

In [ ]:
data["Outlet_Age"]=2013-data["Outlet_Establishment_Year"]
data1["Outlet_Age"]=2013-data1["Outlet_Establishment_Year"]

In [ ]:
data.head()

In [ ]:
plt.figure(figsize=[16,7])
plt.xticks(color="b",size=14)
sns.barplot(data["Outlet_Age"],data["Item_Outlet_Sales"])

In [ ]:
# missing Values

In [ ]:
data["Item_Weight"].isnull().sum()

In [ ]:
data[["Item_Weight","Outlet_Location_Type"]].head()

In [ ]:
plt.figure(figsize=[16,7])
plt.xticks(color="b",size=14)
sns.barplot(data["Item_Weight"],data["Item_Type"])

In [ ]:
data.head()

In [ ]:
data[data["Item_Identifier"]=="FDX07"]

In [ ]:
data[data["Item_Identifier"]=="FDX07"]["Item_Weight"].mean()

In [ ]:
weights=pd.Series()
for i in data.Item_Identifier:
    weights[i]=data[data.Item_Identifier==i]["Item_Weight"].mean()

In [ ]:
weights.head()

In [ ]:
data["ITem_Weight"]=data.groupby("Item_Identifier")["Item_Weight"].transform(lambda x:x.fillna(x.mean()))
data.head()

In [ ]:
data[data["Item_Type"]=="Frozen Foods"]["Item_Weight"].median()

In [ ]:
data[data["Item_Type"]=="Dairy"]["Item_Weight"].median()

In [ ]:
data[data["Item_Type"]=="Dairy"]["Item_Weight"].isnull()

In [ ]:
data[data["Item_Type"]=="Dairy"]["Item_Weight"].fillna(13.35,inplace=True)

In [ ]:
data[data["Item_Type"]=="Dairy"]

In [ ]:
data.iloc[5022,1]=11.65
data

In [ ]:
a=[]
for i in data["Item_Identifier"]:
    a.append(i[:2])
data["Item_Idetifier_ID"]=a

In [ ]:
perishables=["Dairy","Meat","Fruits and Vegetables","Breakfast","Breads","Starchy Foods","Seafood"]

In [ ]:
def perish(x):
    if x in perishables:
        return("PERISHABLE")
    else:
        return("NON PERISHABLE")

In [ ]:
data["Type_Category"]=data["Item_Type"].apply(perish)

In [ ]:
data.head()

In [ ]:
data["Price Per Unit"]=data["Item_MRP"]/data["Item_Weight"]

In [ ]:
data.head()

In [ ]:
plt.scatter(data["Price Per Unit"],data["Item_Outlet_Sales"])

In [ ]:
data.head()

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
devil=LinearRegression()

In [ ]:
devil.fit(xtrain,ytrain).predict(ytest)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Outlet'] = le.fit_transform(data['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [ ]:
data.head()

In [ ]:
data = pd.get_dummies(data, columns =['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type','Outlet'])

In [183]:
data.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Outlet_Age,ITem_Weight,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.30,0.016047,Dairy,249.8092,OUT049,1999,3735.1380,14,9.30,...,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.92,0.019278,Soft Drinks,48.2692,OUT018,2009,443.4228,4,5.92,...,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.50,0.016760,Meat,141.6180,OUT049,1999,2097.2700,14,17.50,...,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,732.3800,15,19.20,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,0.000000,Household,53.8614,OUT013,1987,994.7052,26,8.93,...,0,1,0,0,0,0,0,0,0,0

In [184]:
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [185]:
data.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Outlet_Age,ITem_Weight,Item_Idetifier_ID,Type_Category,Price Per Unit,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.30,0.016047,Dairy,249.8092,OUT049,1999,3735.1380,14,9.30,FD,PERISHABLE,26.861204,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.92,0.019278,Soft Drinks,48.2692,OUT018,2009,443.4228,4,5.92,DR,NON PERISHABLE,8.153581,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.50,0.016760,Meat,141.6180,OUT049,1999,2097.2700,14,17.50,FD,PERISHABLE,8.092457,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,732.3800,15,19.20,FD,PERISHABLE,9.484115,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,0.000000,Household,53.8614,OUT013,1987,994.7052,26,8.93,NC,NON PERISHABLE,6.031512,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0

In [186]:
#Import library:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#New variable for outlet
data['Outlet'] = le.fit_transform(data['Outlet_Identifier'])

In [187]:
data.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Outlet_Age,ITem_Weight,Item_Idetifier_ID,Type_Category,Price Per Unit,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9,Outlet
0,FDA15,9.30,0.016047,Dairy,249.8092,OUT049,1999,3735.1380,14,9.30,FD,PERISHABLE,26.861204,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,9
1,DRC01,5.92,0.019278,Soft Drinks,48.2692,OUT018,2009,443.4228,4,5.92,DR,NON PERISHABLE,8.153581,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,3
2,FDN15,17.50,0.016760,Meat,141.6180,OUT049,1999,2097.2700,14,17.50,FD,PERISHABLE,8.092457,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,9
3,FDX07,19.20,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,732.3800,15,19.20,FD,PERISHABLE,9.484115,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,0.000000,Household,53.8614,OUT013,1987,994.7052,26,8.93,NC,NON PERISHABLE,6.031512,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1

In [191]:
var_mod = ['Outlet']
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [192]:
var_mod = ['Outlet_Type']
for i in var_mod:
    data[i] = le.fit_transform(data[i])

KeyError: 'Outlet_Type'