In [5]:
a={"name":["tarun","mickey","rahul"],"class":10,5,4}

SyntaxError: invalid syntax (<ipython-input-5-5a7ea04a511c>, line 1)

In [ ]:
a={"name":["tarun", "mickey", "rahul"], "class" : 10, 5, 4 "school" : "sda, "br", "dewan"}

In [6]:
a={"name":["tarun","mayank"] "school":["SDA","Deewan"]}

SyntaxError: invalid syntax (<ipython-input-6-140a56efaa8d>, line 1)

In [ ]:
a=[["mayank",26,"SDA"],["Devil",28,"Dewan"],["rahul",20,"Aadhar"]]

In [ ]:
a

In [ ]:
import pandas as pd

In [ ]:
info=pd.DataFrame(a,columns=["name","age","school"])

In [ ]:
type(a)

In [ ]:
info

In [ ]:
info.keys() # Doubt

In [ ]:
info.values() #Doubt

In [ ]:
import numpy as np

In [ ]:
print(info)

In [ ]:
info

In [ ]:
info["age"]

In [ ]:
m=info["age"].median()

In [ ]:
m

In [ ]:
info["name"]

In [ ]:
info["age"]>info["age"].median()

In [ ]:
info[info["age"]>info["age"].median()]

In [ ]:
info

In [ ]:
info["age"]>info["age"].median()    #### Doubt

In [ ]:
info[info["age"]>info["age"].median()]

In [7]:
l=[["SBI",454],["ONGC",549],["BOB",110],["RS",130]]

In [8]:
stocks=pd.DataFrame(l,columns=["Company","Price"])

In [9]:
stocks

  Company  Price
0     SBI    454
1    ONGC    549
2     BOB    110
3      RS    130

In [10]:
stocks["Price"]>stocks["Price"].median()

0     True
1     True
2    False
3    False
Name: Price, dtype: bool

In [11]:
x={"name":"tarun","age":24,"school":"SDA"}

In [12]:
type(x)

dict

In [16]:
y=pd.DataFrame(x,index=[]) ### Doubt why orientation needed

In [ ]:
y=pd.DataFrame.from_dict(x, orient="index")    ##### Dictionary to Data Frame

In [17]:
y

Empty DataFrame
Columns: [name, age, school]
Index: []

In [ ]:
y["name"]

In [ ]:
y

In [ ]:
x

In [ ]:
m={"Name":"Tarun","Sports":"Hockey","Team":"India"}

In [ ]:
type(m)

In [ ]:
list(m)

In [ ]:
m

In [ ]:
b=pd.Dataframe(m)

In [ ]:
import pandas as pd

In [ ]:
b=pd.DataFrame(m)

In [ ]:
b=pd.DataFrame(m,"columns"=["person","info]")

In [ ]:
t=[["Tarun",25],["Rahul",28],["Zayn",26]]

In [ ]:
v=pd.DataFrame(t,columns=["Name","Age"])

In [ ]:
v

In [ ]:
v

In [ ]:
Print(v)

In [ ]:
type(v)

In [ ]:
m["Name"]

In [ ]:
m["Age"]

In [ ]:
m

In [ ]:
v["Age"]

In [ ]:
v["Name"]

In [ ]:
v["Age"]>v["Age"].median()

In [ ]:
v[v["Age"]>v["Age"].median()]

In [ ]:
v["Age"].sort()     #Doubt How to Sort DataFrameh