# Python List:

### 1. Create your own lists otherwise use the List1 = ['hello','great','learning']  to operate the below Python list  Operations?
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [26]:
List1 = ['hello','great','learning']
List1*2

['hello', 'great', 'learning', 'hello', 'great', 'learning']

#### 1.B. Concatenation (+):

In [2]:
List1 = ['hello','great','learning']
List2 = ["teach","me","data science"]
List3=List1+List2
print(List3)

['hello', 'great', 'learning', 'teach', 'me', 'data science']

#### 1.C. Membership:

In [43]:
3 in List1

False

#### 1.D. Length:

In [4]:
len(List1)

3

#### 1.E. Iteration:

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
                    List1 = [15, 300, 2700, 821]
                    List2 = [12, 2]
                    List3 = [34, 567, 78]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.A)  max():

In [15]:
List1 = [15, 300, 2700, 821]
max(List1)

2700

#### 2.B) min():

In [16]:
min(List1)

15

#### 2.C) list:

In [20]:
List1.sort()
List1

[15, 300, 821, 2700]

### 3. Create your own lists to operate the below Python List built-in methods

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [32]:
x=[12,25,47,56]
y=[3,55,48,78,96]
z=[87,25,74,96]
x.append(y)
x

[12, 25, 47, 56, [3, 55, 48, 78, 96]]

#### 3.B) list.clear():

In [23]:
z.clear()
z

[]

#### 3.C) List.copy()

In [25]:
p=y.copy()
p

[3, 55, 48, 78, 96]

#### 3. D) list.count(obj):

In [29]:
x.count(12)

1

#### 3.E) list.extend(seq):

In [35]:
p.extend(z)
p

[3, 55, 48, 78, 96, 87, 25, 74, 96, 87, 25, 74, 96]

#### 3.F) list.index(obj):

In [36]:
p.index(78)

3

#### 3.G) list.insert(index, obj):

In [37]:
p.insert(4,45)
p

[3, 55, 48, 78, 45, 96, 87, 25, 74, 96, 87, 25, 74, 96]

#### 3.H) list.pop(obj=list[-1]):

In [40]:
p.pop(4)
p

[3, 55, 48, 78, 87, 25, 74, 96, 87, 25, 74, 96]

#### 3.I) list.remove(obj):

In [42]:
p.remove(74)
p

[3, 55, 48, 78, 87, 25, 96, 87, 25, 96]

#### 3.j) list.reverse():

In [47]:
p.reverse()  #Doubt
p

[3, 55, 48, 78, 87, 25, 96, 87, 25, 96]

#### 3.K) list.sort([func]):

In [49]:
p.sort()
p

[3, 25, 25, 48, 55, 78, 87, 87, 96, 96]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('a','b','c','d')
                Tuple2 = ('e','f','g','h')

### 1. Tuple Operations 
  
  
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [87]:
t1=(1,2,3,4,5)
t1*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

#### 1.B. Concatenation (+):

In [88]:
t2=(6,7,8,9,0)
t3=t1+t2
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

#### 1.C) Membership:

In [54]:
2 in t1

True

#### 1.D) Length:

In [55]:
len(t1)

5

#### 1.E) Iteration:

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [56]:
max(t2)

9

#### 2.D) min():

In [57]:
min(t1)

1

#### 2.E) Tuple:

In [59]:
t1.sort()

AttributeError: 'set' object has no attribute 'sort'

# Python Set

#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [60]:
s1={1,2,3,4}
s2={8,5,6,7}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 1.B. Intersection

In [61]:
s1.intersection(s2)

set()

#### 1.C. Difference

In [62]:
s1.difference(s2)

{1, 2, 3, 4}

####  1.D. Symmetric difference:

In [63]:
s1.symmetric_difference(s2)  #prints all except those that are common in both sets

{1, 2, 3, 4, 5, 6, 7, 8}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                            dict = {'Name': 'Student', 'Age': 27};

    A.	len(dict)     
    B.	str(dict)      
    C.	type(variable)

#### 1.A) len(dict):

In [68]:
d={"name":"Tarun","school":"SDA mission","Roll. no":26}
len(d)

3

#### 2.B) str(dict):

In [69]:
str(d)         #DOUBT

"{'name': 'Tarun', 'school': 'SDA mission', 'Roll. no': 26}"

#### 1.C) type(variable):

In [70]:
type(d)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {0:" Data",1: "GREAT", 2: "LEARNING",3:"Python",4:"Happy"}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [73]:
e={"Name":"Sachin Tendulkar","Sports":"Cricket","Team":"India"}
e

{'Name': 'Sachin Tendulkar', 'Sports': 'Cricket', 'Team': 'India'}

In [75]:
e.clear()
e

{}

#### 2.B) dict.copy():

In [77]:
e={"Name":"Sachin Tendulkar","Sports":"Cricket","Team":"India"}
f=e.copy()
f

{'Name': 'Sachin Tendulkar', 'Sports': 'Cricket', 'Team': 'India'}

#### 2.C) dict.fromkeys():

In [78]:
f.keys()

dict_keys(['Name', 'Sports', 'Team'])

#### 2.D) dict.get(key[, value]) :

In [85]:
f.get("name"[2])

#### 2.E) dict.items()

#### 2.F) dict.keys() :

In [86]:
f.keys()

dict_keys(['Name', 'Sports', 'Team'])

#### 2.G) dict.setdefault():

#### 2.H) dict.update():

In [89]:
f.update()

 #### 2.L)  dict.values():

In [90]:
f.values()

dict_values(['Sachin Tendulkar', 'Cricket', 'India'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Write if statement 13 is greater than 25?

In [93]:
if(13>25):
    print("it is greater")
else:
    print("13 is less")

13 is less

##### 2.  Write a if else  statement to find if the number is divisible by 25?

In [97]:
a=float(input("enter the number"))
if(a%25==0):
    print("number is divisible by zero")
else:
    print("number is non divisible")

enter the number45
number is non divisible

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054', 
Write a If...Elif...Else statement to find the greatest number

In [21]:
a=154
b=2451
c=6054
if a>b and a>c:
    print("a is greater")
elif b>a and b>c:
    print("b is greater")
else:
    print("c is greater")

c is greater

# while Loop

### 1. Write a code to print (1,10) using while loops

In [6]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# For Loop:

### 1. Write a code to print string using for loop?

In [7]:
a="Tarun"
b=list(a)
for i in range(0,len(b)):
    print(b[i])

T
a
r
u
n

### 2. Write a code for (1,10) after equal to 3 break the loop?

In [14]:
for i in range(1,11):
    if i==3:
        break
        
    print(i)

1
2

### 3. Write a code for (1,10) after equal to 3 continue the loop?

In [16]:
for i in range(1,11):
    if i<=3:
        continue
        
    print(i)

4
5
6
7
8
9
10