# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [2]:
import pandas as pd
import os

**Q.no(1). load the Data 'games.csv' as games.**

In [3]:
games=pd.read_csv("C:\\Users\Asus\\.ipynb_checkpoints\\games.csv")

-----

**Q.no(2). Check the head of the DataFrame.**

In [4]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [5]:
games.shape

(81312, 20)

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [6]:
games["playingtime"].mean()

51.63478827682052

**Q.no(5).What is the highest number of comments received for a game.**

In [7]:
games["total_comments"].max()

11798

**Q.no(6).What is the name of the game with id 1500.**

In [8]:
games[games["id"]==1500]["name"]

10592    Zocken
Name: name, dtype: object

------

**Q.no(7).which year was game with id 1600 was published.**

In [9]:
games[games["id"]==1600]["yearpublished"]

13270    1986.0
Name: yearpublished, dtype: float64

**Q.no(8).Which game has received highest number of comments.**

In [10]:
a=games["total_comments"].max()

games[games["total_comments"]==a]["name"]

165     Catan
1965    Catan
Name: name, dtype: object

-----

**Q.no(9).Which games have received least number of comments**

In [11]:
a=games["total_comments"].min()
games[games["total_comments"]==a]["name"]

13048                                           Looney Leo
13054                                                 Dump
13068                                        Field of Fire
13095                                             Matheeno
13103    Auction America: The Trivia Game for Any Colle...
13114                                            LifeLinks
13116                                            Dear Abby
13124                                             Rolazone
13157                                               Ordino
13163                                             Kaminett
13169                          Don't Give Up Your Day Job!
13180                                Money, Power, Respect
13181                                         Nuts! To You
13188                                     Tower of Babylon
13218                                       Earthdefenders
13267                 ChessMage: Deck of the Myriad Shards
13335                                          Clean Sweep
13339                                                Rally
13341                                   Doomsday Cult 2000
13351                                  Mythrole: Merchants
13361                   Hurricane: The Game of the Tropics
13400                              Verflixt und Zugesperrt
13442                                       Scoop the Cash
13462                                            Ion Glory
13471                                          Sex Maniacs
13475                                      Space: The Game
13487                    Bill Oddie's Great Bird Race Game
13512                                        Mount Everest
13562      Fire On The Suns: Tactical Command Fleet Book 1
13563                  Fire On The Suns: Tactical Command!
                               ...
81281                                     A Colony in Mars
81282         Secrets of the Lost Tomb: The Elite Missions
81283                                  Coloretto: +3-Karte
81284                                              Frantic
81286              Jenga: Transformers  Rise of the Fallen
81287                           WarChess-X: The Armageddon
81288                               King Cat: Feline Feuds
81289                                        Re-Extinction
81290                        Hellweg westfalicus: Dortmund
81291                                       Fliegenschmaus
81292                                          Rogue Squad
81293                      Risk: Marvel Cinematic Universe
81294                             The Luzon Campaign, 1945
81295                                           Honey Wars
81296                     Eaten by Zombies!: Burn it down!
81297                    Wilson Gridiron Strategy Football
81298                                      Terra Incognita
81299                                            Bone Head
81300                                 Disney Eye Found It!
81301                                               Idfutr
81302                                           Micropolis
81303                                        Big Dope Deal
81304                                    Mega Civilization
81305                                          Succession!
81306                                     Stick and Stones
81307                                 Micro Rome: Aegyptus
81308    Trivial Pursuit: Marvel Cinematic Universe  Da...
81309                                            BEARanoia
81310                                              Freight
81311                                    Bingo Animal Kids
Name: name, Length: 29001, dtype: object

-----

**Q.no(10).How many unique games are there in the dataset.**

In [12]:
games["name"].unique()

array(['Twilight Struggle', 'Terra Mystica', 'Caverna: The Cave Farmers',
       ..., 'BEARanoia', 'Freight', 'Bingo Animal Kids'], dtype=object)

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [15]:
z=games[games["type"]=="boardgame"]
x=games[games["type"]=="boardgameexpansion"]
print("for boardgame=",z["type"].count())
print()
print()

print("for boardgames expansions:",x["type"].count())

for boardgame= 70820


for boardgames expansions: 10492

**Q.no(12) Show the average ratings of games in ascending order.**

In [45]:
games["average_rating"].sort_values()

81311     0.0
46614     0.0
46615     0.0
46616     0.0
46617     0.0
46621     0.0
19583     0.0
46624     0.0
46625     0.0
46629     0.0
46630     0.0
46635     0.0
46636     0.0
46637     0.0
46641     0.0
46642     0.0
46643     0.0
46644     0.0
46646     0.0
46647     0.0
46648     0.0
46650     0.0
46613     0.0
46611     0.0
46603     0.0
46597     0.0
46560     0.0
19627     0.0
46563     0.0
46564     0.0
         ...
75979    10.0
75923    10.0
68240    10.0
75876    10.0
44005    10.0
80287    10.0
68353    10.0
80286    10.0
55329    10.0
76220    10.0
76219    10.0
67566    10.0
67567    10.0
67604    10.0
58823    10.0
67635    10.0
67657    10.0
67658    10.0
76159    10.0
80245    10.0
55289    10.0
67681    10.0
55291    10.0
55292    10.0
67759    10.0
76117    10.0
76116    10.0
55328    10.0
80276    10.0
64898    10.0
Name: average_rating, Length: 81312, dtype: float64

----

**Q.no(13) Show the average ratings of games in ascending order.**

In [46]:
games["average_rating"].sort_values(ascending=False)

64898    10.0
80276    10.0
55328    10.0
76116    10.0
76117    10.0
67759    10.0
55292    10.0
55291    10.0
67681    10.0
55289    10.0
80245    10.0
76159    10.0
67658    10.0
67657    10.0
67635    10.0
58823    10.0
67604    10.0
67567    10.0
67566    10.0
76219    10.0
76220    10.0
55329    10.0
80286    10.0
68353    10.0
80287    10.0
44005    10.0
75876    10.0
68240    10.0
75923    10.0
75979    10.0
         ...
46564     0.0
46563     0.0
19627     0.0
46560     0.0
46597     0.0
46603     0.0
46611     0.0
46613     0.0
46650     0.0
46648     0.0
46647     0.0
46646     0.0
46644     0.0
46643     0.0
46642     0.0
46641     0.0
46637     0.0
46636     0.0
46635     0.0
46630     0.0
46629     0.0
46625     0.0
46624     0.0
19583     0.0
46621     0.0
46617     0.0
46616     0.0
46615     0.0
46614     0.0
81311     0.0
Name: average_rating, Length: 81312, dtype: float64

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [51]:
games["Rank"]=games["average_rating"].rank(ascending=0,method="dense")
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,...,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight,Rank
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,...,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785,460.0
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,...,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939,524.0
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,...,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761,521.0
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,...,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590,656.0
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,...,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943,777.0

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------