# Question 4

In [17]:
import pandas as pd
P1=[15,14,20,15,16]
P2=[10,14,9,10,11]
P3=[17,12,14,15,12]
y=["M1","M1","M1","M1","M1"]
x=pd.DataFrame(P1,index=y)
x
y1=["M2","M2","M2","M2","M2"]
x2=pd.DataFrame(P2,index=y1)
y2=["M3","M3","M3","M3","M3"]
x3=pd.DataFrame(P3,index=y2)

In [18]:
P_all=P1+P2+P3
P_all

[15, 14, 20, 15, 16, 10, 14, 9, 10, 11, 17, 12, 14, 15, 12]

In [19]:
y3=y+y1+y2
y3

['M1',
 'M1',
 'M1',
 'M1',
 'M1',
 'M2',
 'M2',
 'M2',
 'M2',
 'M2',
 'M3',
 'M3',
 'M3',
 'M3',
 'M3']

In [20]:
abc=pd.DataFrame(P_all,index=y3)
abc

     0
M1  15
M1  14
M1  20
M1  15
M1  16
M2  10
M2  14
M2   9
M2  10
M2  11
M3  17
M3  12
M3  14
M3  15
M3  12

In [21]:
abc=abc.reset_index()
abc.rename({"index":"Machines",0:"defects"},axis=1,inplace=True)
abc

   Machines  defects
0        M1       15
1        M1       14
2        M1       20
3        M1       15
4        M1       16
5        M2       10
6        M2       14
7        M2        9
8        M2       10
9        M2       11
10       M3       17
11       M3       12
12       M3       14
13       M3       15
14       M3       12

In [22]:
# setting up hypothesis :

# H0 : Performance of M1 = Performance of M2 = Performance of M3
# H1 : Performance of M1 != Performance of M2 != Performance of M3

In [23]:
# Critical Value

# dfn= 3-1
# dfd=(5-1)+(5-1)+(5-1)
import scipy.stats as stats

cv=stats.f.ppf(1-0.05, dfn=2, dfd= 12)
cv

3.8852938346523933

In [24]:
import statsmodels.api as sms
import statsmodels.formula.api as statsmodels
from statsmodels.formula.api import ols

In [25]:
# Fitting annova model using OLS

model = ols("defects~Machines",data=abc).fit()

In [26]:
print(sms.stats.anova_lm(model))

            df  sum_sq    mean_sq         F    PR(>F)
Machines   2.0    68.8  34.400000  7.532847  0.007596
Residual  12.0    54.8   4.566667       NaN       NaN

In [ ]:
# Since the F stats in more than the F ctitical value (3.88) and hence it is clear that at leaset one machine performance is different. hence null hyp. is rejected.

# Since p value is found out to be 0.007596 which is way less than 0.05 (alpha) amd since we reject the H0 and accecpt the H1 and vice versa.

# Question 7

In [40]:
# Given :
import numpy as np
popmean = 200000
n = 14  # from shape
samples=[222600,268680,224400,240300,240000,231180,241020,225000,244500,243600,256200,274200,228000,220320]
samplesd = np.std(samples)
samplemean=np.mean(samples)

# Step - 1 : Define null hyp.

#           H0 : H color diamond is = Rs. 240,000 (continue with Musadilal Tibarumal)

# Step - 2 : Define alternate hyp.
#           H1 : H color diamond is < Rs. 240,000 (Replace Musadilal Tibarumal)

# Step - 3 : One or two tail ?  : Its a one tail test

# Step - 4 : identify the alpha 
#         alpha = 0.05
            
# Lest apply Ttest
    
# import library : 
import numpy as np
import scipy.stats as stats

# Finding CV

cv = stats.t.isf(0.05,n-1)       # stats.norm.ppf/isf for +/-     # t stands for t table    # n-1 : degree of freedom
print("Critical Value is : ",cv)

Critical Value is :  1.7709333959867992

In [35]:

tstats = (samplemean-popmean)/(samplesd/np.sqrt(n))
tstats

9.244930704530205

In [36]:
tstats>cv

True

In [44]:
# Through P value 

# one sample T test

tstats,pvalue=stats.ttest_1samp(samples,200000)   # (data, population mean)

print(tstats)
print(pvalue)

8.908638137505921
6.757682480947266e-07

### Conclusion :     Tstats is more than cv also p-value is less than 0.05

  ###  Hence we reject null hyp.

In [45]:
# 1 A random sample of size 125 is collected and the following is determined, the sample mean is 521, sample standard deviation is 28. Determine a confidence interval of 95%.

In [46]:
n = 125
samplesd = 28
samplemean= 521
cv = stats.t.isf(0.05,n-1)       # stats.norm.ppf/isf for +/-     # t stands for t table    # n-1 : degree of freedom
print("Critical Value is : ",cv)

Critical Value is :  1.6572349701441826

# Question 5

In [65]:
# Step - 1 : Define null hyp.

#           H0 : There is no discrimination

# Step - 2 : Define alternate hyp.
#           H1 : There is significant discrimination

In [57]:
count1=np.array([[288,672],[36,204]])

In [61]:
chi_sq_stat,pvalue,deg_freedom,exp_freq = stats.chi2_contingency(count1)

In [62]:
pvalue

4.2174659535543936e-06

In [63]:
chi_sq_stat

21.163379418231017

In [66]:
### Conclusion : p-value is less than 0.05

  ###  Hence we reject null hyp.